@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F2F6FA;
}

.title {
    font-family: 'Open Sans', sans-serif;
}